@import url('https://fonts.cdnfonts.com/css/post-no-bills-jaffna');

.homepage {
  background-color: #191414; 
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;
  flex: 1;
  margin: 20px 20px;
}