@import url('https://fonts.cdnfonts.com/css/post-no-bills-jaffna');

@keyframes slideInLetter {
  0% {
    transform: translateX(-100%);
    opacity: 0;
    color: #fff;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    color: #ff0606;
  }
}

@keyframes colorChange {
  0% {
    color: #ff0606;
  }
  100% {
    color: #fff;
  }
}

.homepage {
  background-color: #141414; 
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 15px 30px;
  background-image: linear-gradient(#141414, #720000);
}

.logo {
  display: flex; 
  font-weight: bolder;
  font-size: 4rem !important;
  font-family: 'Post No Bills Jaffna ExtraBold', 'Impact', sans-serif;
  color: #FF0606;
  text-decoration: none;
}

.logo span {
  display: inline-block;
  opacity: 0;
  animation: slideInLetter 0.5s ease-out forwards;
}

.logo span:nth-child(1) {
  animation-delay: 0.1s;
}
.logo span:nth-child(2) {
  animation-delay: 0.3s;
}
.logo span:nth-child(3) {
  animation-delay: 0.5s;
}
.logo span:nth-child(4) {
  animation-delay: 0.7s;
}

.logo:hover span {
  display: inline-block;
  opacity: 1;
  animation: colorChange 0.5s ease-out forwards;
}

.logo:hover span:nth-child(1) {
  animation-delay: 0.1s;
}
.logo:hover span:nth-child(2) {
  animation-delay: 0.2s;
}
.logo:hover span:nth-child(3) {
  animation-delay: 0.3s;
}
.logo:hover span:nth-child(4) {
  animation-delay: 0.4s;
}

.nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bolder !important;
  margin-left: 15px;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.nav a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: -15px;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #FF0606;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav a:hover:after { 
  width: 100%; 
  left: 0; 
}

.actions {
  display: flex;
  align-items: center;
}

.search {
  width: 250px;
  padding: 7px;
  font-size: 1em;
  border: none;
  border-radius: 25px;
  text-decoration: none;
}

.signup {
  background-color: transparent;
  color: white;
  border: 2px solid #FF0606 !important; 
  border-radius: 5px;
  padding: 7px 15px !important;
  margin-left: 15px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.signup:hover {
  background-color: #FF0606;
  color: #fff;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;
  flex: 1;
}

.calendar-container {
  margin-left: 0;
  width: 110vh;
  background-color: #CD212A;
  border-radius: 15px;
  padding: 25px;
  text-align: center;
}

.calendar-title {
  font-size: 2.5em;
  font-family: 'Post No Bills Jaffna ExtraBold', 'Impact', sans-serif;
  margin-bottom: 10px;
}

.calendar p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.sidebar {
  background-color: #CD212A;
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar h2 {
  font-size: 1.5em;
  font-family: 'Impact', sans-serif;
}

.sidebar .shows, .sidebar .movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.show, .movie {
  margin-bottom: 20px;
  text-align: center;
}

.show img, .movie img {
  width: 100%;
  max-width: 120px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.show p, .movie p {
  margin-top: 10px;
  font-size: 1.1em;
}
