.homepage {
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  padding-top: 70px; /* To prevent overlap with the navbar */
}

.calendar-section {
  margin-top: 50px;
  text-align: center;
}
