@import url('https://fonts.cdnfonts.com/css/post-no-bills-jaffna');
:root { 
  --neon-text-color: #A6051A;
  --neon-border-color: #00A5F9;
}

@keyframes slideLetter {
  0% {
    transform: translateX(-100%);
    opacity: 0;
    color: #A6051A;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    color: #FFFFFF;
  }
}

@keyframes colorChange {
    0% {
      color: #FFFFFF;
    }
    100% {
      color: #A6051A;
    }
}

@keyframes solidColorChange {
    0% {
        color: #FFFFFF;
      }
      100% {
        color: #000000;
      }
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px; 
    padding: 0 30px; 
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    transition: background 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    z-index: 20;
}

.navbar.solid {
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(8px);
}
  
.logo {
    font-family: 'Post No Bills Jaffna ExtraBold', 'Impact', sans-serif;
    font-size: 2.5rem;
    font-weight: bolder;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 60px;
    margin-right: 30px;
}

.logo span {
    display: inline-block;
    opacity: 0;
    animation: slideLetter 0.5s ease-out forwards;
}
  
.logo span:nth-child(1) {
    animation-delay: 0.1s;
}
.logo span:nth-child(2) {
    animation-delay: 0.3s;
}
.logo span:nth-child(3) {
    animation-delay: 0.5s;
}
.logo span:nth-child(4) {
    animation-delay: 0.7s;
}

.logo:hover span {
    display: inline-block;
    opacity: 1;
    animation: colorChange 0.5s ease-out forwards;
}
  
.logo:hover span:nth-child(1) {
    animation-delay: 0.1s;
}
.logo:hover span:nth-child(2) {
    animation-delay: 0.2s;
}
.logo:hover span:nth-child(3) {
    animation-delay: 0.3s;
}
.logo:hover span:nth-child(4) {
    animation-delay: 0.4s;
}

.navbar.solid .logo:hover span {
    display: inline-block;
    opacity: 1;
    animation: solidColorChange 0.5s ease-out forwards;
}

.navbar.solid .logo:hover span:nth-child(1) {
    animation-delay: 0.1s;
}
.navbar.solid .logo:hover span:nth-child(2) {
    animation-delay: 0.2s;
}
.navbar.solid .logo:hover span:nth-child(3) {
    animation-delay: 0.3s;
}
.navbar.solid .logo:hover span:nth-child(4) {
    animation-delay: 0.4s;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
}

.nav-link {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bolder;
    margin-left: 15px;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
    transition: color 0.3s ease;
}
  
.nav-link.active:after {
    width: 100%;
    left: 0;
}
  
.nav-link:after {
    background: none;
    bottom: -32%;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: #A6051A;
    transition: width 0.3s ease, left 0.3s ease;
    width: 0;
}
  
.nav-link:hover:after {
    width: 100%;
    left: 0;
}

.navbar.solid .nav-link:hover:after {
    width: 100%;
    left: 0;
    background-color: #000000; 
}


.search-signup-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 20px; 
}

.input {
    width: 50px; 
    height: 40px;
    background: #000000;
    border: 2px solid #A6051A;
    border-radius: 50px; 
    box-sizing: border-box;
    font-size: 1em;
    font-family:'Impact', sans-serif;
    color: #FFFFFF;
    outline: none;
    transition: width 0.5s ease, border-radius 0.5s ease;
}

.box:hover .input {
    width: 300px; 
    border-radius: 25px; 
    padding-left: 50px; 
    background: #000000; 
}

.box i {
    position: absolute;
    top: 50%;
    left: 15px; 
    transform: translateY(-50%);
    font-size: 20px;
    color: #FFFFFF;
    transition: color 0.5s ease;
}

.box:hover i {
    color: #FFFFFF; 
}

.signup {
    background-color: transparent;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 7px 15px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 60px;
}

.signup:hover {
    background-color: #A6051A;
    color: #FFFFFF;
}

.navbar.solid .signup:hover {
    background-color: #000000;
    color: #FFFFFF;
}